Repository engelde/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

docs(docs): update README
  README.md
Due: prettier --write

build(build): containerize app with Docker
  Dockerfile
Due: none

chore(refactor): remove deprecated code
  .husky/commit-msg
  .husky/pre-push
Due: none

chore(release): 0.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 0.3.1
  CHANGELOG.md
Due: prettier --write

fix(bug): get version from package.json
  .env
  .versionrc.json
  next.config.ts
  package-lock.json
  pnpm-lock.yaml
  src/lib/config.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 0.3.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat(test): add speed insights
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: prettier --write, eslint --fix, eslint

feat(feature): update experience
  src/components/super-mario/overlay/about/index.tsx
Due: prettier --write, eslint --fix, eslint

revert(bug): revert to pulling version from .env
  .env
  src/lib/config.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 0.3.3
  CHANGELOG.md
  package.json
Due: prettier --write

fix(bug): add preview to readme
  resources/preview.png
Due: none

fix(bug): fix fireworks content area
  src/components/super-mario/overlay/end/index.tsx
Due: prettier --write, eslint --fix, eslint

feat(feature): add robots.txt
  src/app/robots.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 0.3.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore(config): bump version
  .env
Due: none

feat(feature): update intro
  src/components/super-mario/overlay/about/index.tsx
Due: prettier --write, eslint --fix, eslint

fix(bug): ignore some files when using Docker
  .dockerignore
Due: none

fix(bug): fix typos
  src/components/super-mario/overlay/about/index.tsx
  src/components/super-mario/overlay/skills/index.tsx
Due: prettier --write, eslint --fix, eslint

chore(release): 0.3.5
  CHANGELOG.md
  package.json
Due: prettier --write

build(build): ignore lock files and changelog when auto formatting
  .prettierignore
Due: none

test(test): add PostHog
  package.json
  pnpm-lock.yaml
  src/instrumentation-client.ts
Due: prettier --write, eslint --fix, eslint

build(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(config): remove environment variables
  .env
  next.config.ts
  src/lib/config.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 0.3.6
  CHANGELOG.md
  package.json
Due: prettier --write

fix(deps): patch CVE-2025-66478
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 0.3.7
  CHANGELOG.md
  package.json
Due: prettier --write

fix(deps): patch CVE-2025-66478
  eslint.config.mjs
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

chore(release): 0.3.8
  CHANGELOG.md
  package.json
Due: prettier --write

feat(feature): add orcid
  public/images/orcid/orcid.png
  src/components/super-mario/overlay/end/index.tsx
Due: prettier --write, eslint --fix, eslint

feat(feature): update menu and details
  src/components/super-mario/overlay/about/index.tsx
  src/components/super-mario/overlay/end/index.tsx
  src/components/super-mario/overlay/skills/index.tsx
  src/components/super-mario/player/pause/index.tsx
  src/lib/config.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 0.3.9
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 0.3.10
  CHANGELOG.md
  package.json
Due: prettier --write

feat: update dependencies and skills showcase
  pnpm-lock.yaml
  src/components/super-mario/overlay/skills/index.tsx
Due: prettier --write, eslint --fix, eslint

chore(release): 0.3.11
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,css,scss})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
