Repository engelde/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*.{json,md,yml,css,scss}": ["prettier --write"]
}

feat(feature): update skills
  src/components/super-mario/overlay/about/index.tsx
  src/components/super-mario/overlay/index.tsx
  src/components/super-mario/overlay/skills/index.tsx
  src/components/super-mario/player/pause/index.tsx
Due: prettier --write, eslint --fix, eslint

chore(release): 0.3.12
  CHANGELOG.md
  package.json
Due: prettier --write

feat(feature): update skills
  src/components/super-mario/overlay/skills/index.tsx
Due: prettier --write, eslint --fix, eslint

chore(release): 0.3.13
  CHANGELOG.md
  package.json
Due: prettier --write

chore: trigger deployment
  .gitignore
Due: none

chore(release): 0.3.14
  CHANGELOG.md
  package.json
Due: prettier --write

feat: pause drawer escape close, jagged border, plus refactor and ui polish
  .gitignore
  CHANGELOG.md
  package.json
  src/app/globals.css
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/layout/index.tsx
  src/components/preloader/index.tsx
  src/components/super-mario/environment/index.tsx
  src/components/super-mario/environment/overlay/index.tsx
  src/components/super-mario/foreground/brick/index.tsx
  src/components/super-mario/foreground/coin/index.tsx
  src/components/super-mario/foreground/goomba/index.tsx
  src/components/super-mario/foreground/index.tsx
  src/components/super-mario/foreground/pipe/fire/index.tsx
  src/components/super-mario/foreground/pipe/index.tsx
  src/components/super-mario/foreground/pipe/plant/index.tsx
  src/components/super-mario/foreground/prize-box/index.tsx
  src/components/super-mario/foreground/turtle/index.tsx
  src/components/super-mario/index.tsx
  src/components/super-mario/landscape/index.tsx
  src/components/super-mario/overlay/about/index.tsx
  src/components/super-mario/overlay/dog/index.tsx
  src/components/super-mario/overlay/end/index.tsx
  src/components/super-mario/overlay/index.tsx
  src/components/super-mario/overlay/intro/index.tsx
  src/components/super-mario/overlay/scroll-indicator/index.tsx
  src/components/super-mario/overlay/skills/index.tsx
  src/components/super-mario/overlay/thanks/index.tsx
  src/components/super-mario/player/index.tsx
  src/components/super-mario/player/mario/index.tsx
  src/components/super-mario/player/pause/index.tsx
  src/components/wordmark/index.tsx
  src/hooks/useController.ts
  src/hooks/useKeyboard.ts
  src/hooks/useScroll.ts
  src/hooks/useSettings.ts
  src/lib/config.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(super-mario): scope stomp to leaf box, wire coin chain 3-5, fix prize-block side-clip, gate raccoon flight to coin-chain area
  src/components/super-mario/foreground/index.tsx
  src/components/super-mario/foreground/mushroom/index.tsx
  src/components/super-mario/index.tsx
  src/components/super-mario/player/mario/index.tsx
  src/hooks/useController.ts
  src/hooks/useSettings.ts
Due: prettier --write, eslint --fix, eslint

feat(feature): update flight area
  src/hooks/useController.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: add readme wordmark
  README.md
  resources/preview.png
  resources/wordmark.svg
Due: prettier --write

docs: center readme wordmark
  README.md
Due: prettier --write

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: stabilize readme wordmark rendering
  resources/wordmark.svg
Due: none

chore(release): 1.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: use public wordmark asset
  README.md
  public/images/wordmark/wordmark.svg
  src/components/wordmark/index.tsx
Due: prettier --write, eslint --fix, eslint

chore(release): 1.1.3
  CHANGELOG.md
  package.json
Due: prettier --write

fix: stabilize mario gameplay interactions
  .gitignore
  docs/super-mario-collision-audit.md
  package.json
  scripts/audit-mario-collisions.mjs
  src/components/super-mario/foreground/coin/index.tsx
  src/components/super-mario/foreground/goomba/index.tsx
  src/components/super-mario/foreground/index.tsx
  src/components/super-mario/foreground/leaf/index.tsx
  src/components/super-mario/foreground/mushroom/index.tsx
  src/components/super-mario/foreground/pipe/fire/index.tsx
  src/components/super-mario/foreground/pipe/index.tsx
  src/components/super-mario/foreground/turtle/index.tsx
  src/components/super-mario/index.tsx
  src/components/super-mario/landscape/index.tsx
  src/components/super-mario/level-map.json
  src/components/super-mario/level-map.ts
  src/components/super-mario/overlay/end/index.tsx
  src/components/super-mario/player/index.tsx
  src/components/super-mario/player/mario/index.tsx
  src/hooks/useController.ts
  src/hooks/useSettings.ts
Due: prettier --write, eslint --fix, eslint

fix: polish mario gameplay animations
  docs/super-mario-collision-audit.md
  scripts/audit-mario-collisions.mjs
  src/components/super-mario/environment/clouds/index.tsx
  src/components/super-mario/environment/daylight/index.tsx
  src/components/super-mario/environment/sun/index.tsx
  src/components/super-mario/foreground/coin/index.tsx
  src/components/super-mario/foreground/goomba/index.tsx
  src/components/super-mario/foreground/index.tsx
  src/components/super-mario/foreground/leaf/index.tsx
  src/components/super-mario/foreground/mushroom/index.tsx
  src/components/super-mario/foreground/one-up/index.tsx
  src/components/super-mario/foreground/pipe/fire/index.tsx
  src/components/super-mario/foreground/pipe/index.tsx
  src/components/super-mario/foreground/pipe/plant/index.tsx
  src/components/super-mario/foreground/points/index.tsx
  src/components/super-mario/foreground/prize-box/index.tsx
  src/components/super-mario/foreground/turtle/index.tsx
  src/components/super-mario/index.tsx
  src/components/super-mario/level-map.json
  src/components/super-mario/level-map.ts
  src/components/super-mario/overlay/end/index.tsx
  src/components/super-mario/player/mario/index.tsx
  src/hooks/useController.ts
  src/hooks/useGameAnimationPause.ts
Due: prettier --write, eslint --fix, eslint

fix: polish shell and pipe fire interactions
  src/components/super-mario/foreground/pipe/fire/index.tsx
  src/components/super-mario/foreground/pipe/index.tsx
  src/components/super-mario/foreground/turtle/index.tsx
Due: prettier --write, eslint --fix, eslint

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: polish mario enemy animations
  public/images/turtle/turtle.3.png
  public/images/turtle/turtle.4.png
  public/images/turtle/turtle.5.png
  public/images/turtle/turtle.6.png
  public/images/turtle/turtle.sprite.png
  src/components/super-mario/foreground/coin/index.tsx
  src/components/super-mario/foreground/index.tsx
  src/components/super-mario/foreground/pipe/index.tsx
  src/components/super-mario/foreground/pipe/plant/index.tsx
  src/components/super-mario/foreground/prize-box/index.tsx
  src/components/super-mario/foreground/turtle/index.tsx
  src/components/super-mario/index.tsx
  src/components/super-mario/player/pause/index.tsx
Due: prettier --write, eslint --fix, eslint

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add player selection and polish mario sprites
  README.md
  public/images/luigi/luigi.raccoon.1.png
  public/images/luigi/luigi.raccoon.2.png
  public/images/luigi/luigi.raccoon.crouch.png
  public/images/luigi/luigi.raccoon.jump.png
  public/images/luigi/luigi.raccoon.sprite.png
  public/images/luigi/luigi.regular.1.png
  public/images/luigi/luigi.regular.2.png
  public/images/luigi/luigi.regular.jump.png
  public/images/luigi/luigi.regular.sprite.png
  public/images/luigi/luigi.super.1.png
  public/images/luigi/luigi.super.2.png
  public/images/luigi/luigi.super.crouch.png
  public/images/luigi/luigi.super.jump.png
  public/images/luigi/luigi.super.sprite.png
  public/images/mario/mario.raccoon.crouch.png
  public/images/mario/mario.raccoon.sprite.png
  public/images/mario/mario.super.crouch.png
  public/images/mario/mario.super.sprite.png
  public/images/pipe/pipe.alt.0.png
  public/images/pipe/pipe.alt.1.png
  public/images/turtle/turtle.3.png
  public/images/turtle/turtle.4.png
  public/images/turtle/turtle.5.png
  public/images/turtle/turtle.6.png
  public/images/turtle/turtle.sprite.png
  public/images/wall/wall.png
  src/app/globals.css
  src/components/preloader/index.tsx
  src/components/super-mario/index.tsx
  src/components/super-mario/player/index.tsx
  src/components/super-mario/player/mario/index.tsx
  src/components/super-mario/player/pause/index.tsx
  src/components/super-mario/player/stats/index.tsx
  src/hooks/useSettings.ts
  src/lib/store.tsx
Due: prettier --write, eslint --fix, eslint

chore(release): 1.4.0
  CHANGELOG.md
  package.json
  public/images/luigi/luigi.regular.1.png
  public/images/luigi/luigi.regular.2.png
  src/components/super-mario/player/pause/index.tsx
Due: prettier --write, eslint --fix, eslint

feat: add pipe room easter egg
  pipe-room-layout.png
  public/images/luigi/luigi.regular.sprite.png
  public/images/wall/wall.png
  src/components/footer/index.tsx
  src/components/preloader/index.tsx
  src/components/super-mario/foreground/mushroom/index.tsx
  src/components/super-mario/foreground/pipe/index.tsx
  src/components/super-mario/index.tsx
  src/components/super-mario/level-map.json
  src/components/super-mario/pipe-room/index.tsx
  src/components/super-mario/player/index.tsx
  src/components/super-mario/player/mario/index.tsx
  src/hooks/useController.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 1.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: refine pipe room interactions
  README.md
  public/images/mario/mario.regular.jump.png
  public/images/mario/mario.regular.sprite.png
  src/components/footer/index.tsx
  src/components/super-mario/index.tsx
  src/components/super-mario/pipe-room/components/item-layer.tsx
  src/components/super-mario/pipe-room/components/message-form.tsx
  src/components/super-mario/pipe-room/components/player-sprite.tsx
  src/components/super-mario/pipe-room/components/wall-run.tsx
  src/components/super-mario/pipe-room/index.tsx
  src/components/super-mario/pipe-room/layout.ts
  src/components/super-mario/pipe-room/physics.ts
  src/components/super-mario/pipe-room/rooms/default.json
  src/components/super-mario/pipe-room/rooms/index.ts
  src/components/super-mario/pipe-room/types.ts
  src/components/super-mario/pipe-room/usePipeRoomEngine.ts
  src/lib/config.ts
Due: prettier --write, eslint --fix, eslint

feat: refine gameplay interactions
  README.md
  public/images/tree/tree.4.png
  src/app/api/hidden-message/route.ts
  src/components/super-mario/foreground/index.tsx
  src/components/super-mario/foreground/mushroom/index.tsx
  src/components/super-mario/foreground/turtle/index.tsx
  src/components/super-mario/index.tsx
  src/components/super-mario/landscape/index.tsx
  src/components/super-mario/landscape/tree/index.tsx
  src/components/super-mario/level-map.json
  src/components/super-mario/pipe-room/components/item-layer.tsx
  src/components/super-mario/pipe-room/components/message-form.tsx
  src/components/super-mario/pipe-room/index.tsx
  src/components/super-mario/pipe-room/usePipeRoomEngine.ts
  src/components/super-mario/player/index.tsx
  src/components/super-mario/player/mario/index.tsx
  src/hooks/useAudio.ts
  src/hooks/useController.ts
  src/hooks/useKeyboard.ts
  src/lib/config.ts
  src/lib/is-editable-target.ts
Due: prettier --write, eslint --fix, eslint

feat: refine mario camera and pipe room physics
  src/components/super-mario/foreground/mushroom/index.tsx
  src/components/super-mario/index.tsx
  src/components/super-mario/pipe-room/physics.ts
  src/components/super-mario/player/stats/index.tsx
Due: prettier --write, eslint --fix, eslint

fix: improve intro tooltip interaction
  src/components/super-mario/overlay/intro/index.tsx
Due: prettier --write, eslint --fix, eslint

chore(release): 1.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: polish pipe room camera and end flow
  README.md
  docs/super-mario-collision-audit.md
  package.json
  pipe-room-layout.png
  scripts/audit-mario-collisions.mjs
  src/app/api/hidden-message/route.ts
  src/components/super-mario/index.tsx
  src/components/super-mario/pipe-room/index.tsx
  src/lib/config.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 1.6.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add message validation and turtle shell routes
  .env.example
  .gitignore
  package.json
  pnpm-lock.yaml
  public/images/turtle/turtle.alt.1.png
  public/images/turtle/turtle.alt.2.png
  public/images/turtle/turtle.alt.3.png
  public/images/turtle/turtle.alt.4.png
  public/images/turtle/turtle.alt.5.png
  public/images/turtle/turtle.alt.6.png
  public/images/turtle/turtle.alt.sprite.png
  src/app/api/hidden-message/route.ts
  src/components/super-mario/foreground/brick/index.tsx
  src/components/super-mario/foreground/coin/index.tsx
  src/components/super-mario/foreground/index.tsx
  src/components/super-mario/foreground/turtle/index.tsx
  src/components/super-mario/index.tsx
  src/components/super-mario/level-map.json
  src/components/super-mario/level-map.ts
  src/components/super-mario/overlay/end/index.tsx
  src/components/super-mario/pipe-room/components/item-layer.tsx
  src/components/super-mario/pipe-room/components/message-form.tsx
  src/components/super-mario/player/index.tsx
  src/components/super-mario/player/mario/index.tsx
  src/hooks/useController.ts
  src/hooks/useSettings.ts
  src/lib/validation/hidden-message.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 1.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: normalize mario keyboard movement speed
  src/hooks/useController.ts
Due: prettier --write, eslint --fix, eslint
